
div#cropperModal {
    z-index: 9999;
}

img.cropedImage {
    width: 100%;
    max-height: 600px;
    max-width: 100%;
}

/*Блок файлов*/

p.superfile-error {
    color: #a94442;
    margin-top: 10px;
}

a.superfile-deleteOverlay {
    display: block;
    position: absolute;
    z-index: 99999;
    padding: 5px 10px;
    background-color: rgba(1, 1, 1, 0.4);
    color: white;
    font-size: 150%;
    transition: all 0.2s ease-out 0s;
    opacity: 0.2;
    cursor: pointer;
}

div.superfile-wripper:hover a.deleteOverlay {
    opacity: 1;
}

.cropper-container {
    max-height: 600px;
}

div.superfile {
    background-color: #dedede;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    height: 32px;
}

div.superfile.previewed {
    height: 160px;
    padding-top: 130px;
    background-size: 100%;
    background-position: center;
}

div.superfile-title-block {
    background-color: rgba(1, 1, 1, 0.5);
    padding: 7px 10px 6px 18px;
    transition: all 0.2s ease-out 0s;

}

div.superfile-title-block.hovered {
    margin-top: -33px;
}

div.superfile-title-block input {
    width: 90%;
    background: none;
    border: 0;
    border-bottom: 1px white solid;
    margin-top: -1px;
}

div.superfile-control {
    padding-top: 5px;
    padding-right: 22px;
    background-color: #bbbbb4;
    height: 50px;
    width: 115%;
    cursor: move;
    padding-left: 13px;
}

div.superfile-control a {
    color: #f3f3f3;
    font-size: 130%;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out 0s;

}

div.superfile-control a:hover {
    color: #000000;
}